body
{
    font-family:'Segoe UI'
}
.close_div
{
padding: 10px 20px;
float:left;
background: lightskyblue;
color:black;
cursor:pointer;
margin: 6px 6px 0 0;
border-radius: 5px;
font-size: 20px;
}
.sidenav {
height: 100%;
width: 0;
position: fixed;
top: 0;
left: 0;
background-color: black;
overflow-x: hidden;
transition: 0.8s;
padding-top: 60px;
}
.sidenav a {
padding: 8px 8px 8px 32px; /* top right bottom left*/
text-decoration: none;
font-size: 25px;
color:lightslategray;
display: block;
transition: 0.3s; /* Color changing time*/
}
.sidenav a:hover {
color:white;
}
.sidenav .closebtn {
position: absolute;
top: 0;
right: 25px;
font-size: 36px;
}