body{
    background-color: black;
}
h2{
    color: darkred;
}
.close_div
{
padding: 10px 20px;
float:right;
background: lightskyblue;
color:black;
cursor:pointer;
margin: 6px 6px 0 0;
border-radius: 5px;
font-size: 20px;
}
.sidenav {
height: 100%;
width: 0;
position: fixed;
top: 0;
right: 0;
background-color:darkred;
overflow-x: hidden;
transition: 0.5s;
padding-top: 60px;
}
.sidenav ul{
    font:bold;
    font-size:large;
   color: black;
   transition: 0.5s;
}
.sidenav ul:hover {
    color:orangered;
    }

.sidenav li {
padding: 8px 8px 8px 10px; 
font-size: medium;
 /* text-decoration: none; */
color: white;
display: block;
transition: 0.3s; 
}
.sidenav li:hover {
color:cyan;
}
.sidenav .closebtn {
position: absolute;
top: 0;
right: 25px;
font-size: 36px;
}